/*  Components Model Animation */
@keyframes april-model-show {
  0%{
    display: block;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes april-model-close {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
