.april-input-line{
  position: relative;
  .april-input-item{
    text-indent: 26px;
  }
  .icon-calendar{
    position: absolute;
    left: 8px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(198,205,210);
  }
  .icon-quxiao{
    position: absolute;
    right: 6px;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(198,205,210);
  }
}

.april-date-cont {
  width: 260px;
  height: auto;
  padding: 0 15px 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  position: absolute;
  left: 0;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  z-index: 99999;
  &-g{
    width: 8px;
    height: 8px;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    position: absolute;
    top: -5px;
    z-index: 99;
  }
  header{
    width: 100%;
    line-height: 54px;
    font-size: 14px;
    text-align: center;
    color: #606266;
    position: relative;
    div{
      display: inline-block;
      float: left;
      i{
        cursor: pointer;
        &:first-child{
          margin-right: 8px;
        }
      }
      &:last-child{
        float: right;
      }
    }
  }
  &-table{
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    thead tr th {
      line-height: 40px;
      text-align: center;
      border-bottom: 1px solid #eee;
    }
    tbody tr td {
      line-height: 37px;
      box-sizing: border-box;
      vertical-align: top;
      text-align: center;
    }
    &-block{
      width: 30px;
      line-height: 30px;
      display: inline-block;
      text-align: center;
    }
    .gray{
      color: #c0c4cc;
    }
    .today{
      color: #409eff
    }
    .hover{
      cursor: pointer;
      color: #409eff
    }
    .acts{
      color: #fff;
      background-color: #409eff;
      border-radius: 50%;
    }
  }
}