.april-form-item{
  //max-height: calc(100% - 26px);
  min-height: 30px;
  width: 100%;
  //margin: 0 0 26px;
  padding: 0;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum";
  vertical-align: top;
  display: flex;
  label{
    height: 100%;
    white-space: nowrap;
    text-align: right;
    //display:table; // ie
    span{
      //display:table-cell; //  ie
      //vertical-align:middle;
    }
  }
  &-required:before {
    content: '*';
    color: red;
  }
  &-wrapper{
    position: relative;
    zoom: 1;
    height: 100%;
    &-message{
      position: absolute;
      bottom: -21px;
      clear: both;
      min-height: 22px;
      margin-top: -2px;
      margin-bottom: -1px;
      color: rgba(0,0,0,.45);
      line-height: 1.5;
      color: #f5222d;
      font-size: 14px;
      transition: color .3s cubic-bezier(.215,.61,.355,1);
    }
    &-tip{
      color: #409eff;
    }
  }
}
